@charset "utf-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;  
  margin: 0;
  background-image: url(IMG_0209.JPG);
}

h1{
font-size: 55px;
margin-top: 0;
margin-bottom: 0;
}

header h1 a{
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;  
text-decoration: none;
color: #000000;
}

header h1 a:hover{
color: #000000;
}

header h1 img{
vertical-align: -10px;
margin-right: auto;
}

a {
color: #b77d3c;
}

a:hover{
color: #ff8800;
}

a img{
border: none;
}

p{
line-height: 1.5
}

header{
background-color: #ffffff;
border-bottom: solid 1px #aaaaaa;
margin-bottom: 30px;
-webkit-box-shadow:0 1px 7px #aaaaaa;
box-shadow: 0 1px 7px #aaaaaa;
padding: 5px;
}

header h1{
font-family: 'Chango', cursive;
font-size: 30px;
width: 900px;
margin-left: auto;
margin-right: auto;
}

header h1 img{
vertical-align: -10px;
margin-right: 5px;
}

nav ul{
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
font-size: 0;
}

nav li{
display: inline;
font-size: 20px;
border-right: solid 1px #aaaaaa;
padding-left: 10px;
padding-right: 10px;
}

nav li:first-child{
border-left: solid 1px #aaaaaa;
}

nav {
width: 900px;
margin-left: auto;
margin-right: auto;
text-align: right;
margin-top: -27px;
margin-bottom: 10px;
}

nav a {
color: #000000;
text-decoration: none;
}


input, textarea{
display: block;
}

input{
width: 400px;
}

article,#message{
background-color: #ffffff;
width: 900px;
margin-left: auto;
margin-right: auto;
border: solid 1px #aaaaaa;
padding: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 15px;
-webkit-box-shadow: 1px 1px 3px #aaaaaa;
box-shadow: 1px 1px 3px #aaaaaa;
border-radius: 20px;
overflow: hidden;
}

article h1{
  font-size: 45px;
}

article *{
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 25px;
}

input[type="submit"]{
width: 200px;
background-color: #ffaa00;
background-image: -webkit-gradient(
linear, left top, left bottom, from(#ffe7b8), to(#ffaa00));
background-image: -webkit-gradient(
top, #ffe7b8 0%, #ffaa00 100%);
background-image: linear-gradient(
to bottom, #ffe7b8 0%, #ffaa00 100%);
border:solid 1px #aaaaaa;
border-radius: 10px;
padding-top: 10px;
padding-bottom: 10px;
}

textarea{
width: 600px;
height: 120px;
}

figure.photo-centure{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}

footer{
  width: 900px;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 899px) {
 header h1,
  nav,
  article,#message,
  footer{
    width: 100%;
  }
}
