body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;  
  margin: 0;
  background-image: url(IMG_0209.JPG);
}

main{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;  
  margin: 0;
}

h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;  
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 0;
}

header h1 a{
  text-decoration: none;
  color: #000000;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 30px;
}

header h1 a:hover{
  color: #000000;
}

header h1 img{
  vertical-align: -10px;
  margin-right: auto;
}

a {
  color: #b77d3c;
}

a:hover{
  color: #ff8800;
}

a img{
  border: none;
}


p{
  line-height: 1.5;
}

header{
  background-color: #ffffff;
  border-bottom: solid 1px #aaaaaa;
  margin-bottom: 30px;
  -webkit-box-shadow:0 1px 7px #aaaaaa;
  box-shadow: 0 1px 7px #aaaaaa;
  padding: 5px;
}

header h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

nav ul{
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
}

nav li{
  display: inline;
  font-size: 20px;
  border-right: solid 1px #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
}

nav li:first-child{
  border-left: solid 1px #aaaaaa;
}

nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: -27px;
  margin-bottom: 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

/*top page*/
#top header{
  margin-bottom: 0;
}

#photo{
  background-image: url(IMG_0210.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-color: #3f8ad6;
  background-size: cover;
  text-align: center;
  padding-top: 320px;
  padding-bottom: 80px;
}

#photo h1{
  color: #ffffff;
  font-size: 60px;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;  
  text-shadow: 0 5px 10px #000000;
}

#photo p{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 5px 10px #000000;
}

article,#message{
  background-color: #ffffff;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #aaaaaa;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 3px #aaaaaa;
  box-shadow: 1px 1px 3px #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}

section *{
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 25px;
}

#photo a{
  background-color: #ffaa00;
  background-image: -webkit-gradient(
  linear, left top, left bottom, from(#ffe7b8),to(#ffaa00));
  background-image: -webkit-linear-gradient(
  top, #ffe7b8 0%, #ffaa00 100%);
  background-image: linear-gradient(
  to bottom, #ffe7b8 0%, #ffaa00 100%);
  padding: 10px 80px;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

input, textarea{
  display: block;
}

input{
  width: 400px;
}

input[type="submit"]{
  width: 200px;
  background-color: #ffaa00;
  background-image: -webkit-gradient(
  linear, left top, left bottom, from(#ffe7b8), to(#ffaa00));
  background-image: -webkit-gradient(
  top, #ffe7b8 0%, #ffaa00 100%);
  background-image: linear-gradient(
  to bottom, #ffe7b8 0%, #ffaa00 100%);
  border:solid 1px #aaaaaa;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea{
  width: 600px;
  height: 120px;
}

figure.photo-centure{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer{
  width: 900px;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 899px) {
 header h1,
  nav,
  article,#message,
  footer{
    width: 100%;
  }
}
